.person {
  background-color: goldenrod
}
.organization {
  background-color: lightblue;
}
.location {
  background-color: lightgreen;
}

#saveButton {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.instructions {
}
